.overlay {
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  padding: 0.5% 0;
  background-color: rgba(0, 0, 0, 0.7);
}

/* MEDIA QUERIES */

@media (max-height: 650px) {
  .overlay {
    justify-content: start;
  }
}
